ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 72.5px;
    text-decoration: none;
}
li button {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 72.5px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: aquamarine;
}
.nav-element{
    color: black;
}
.custom_li{
    display:inline-block;
    height: 90px;
    width: 230px;
 }
 .container-fluid{
     background-color: #302E2E;
 }
 